@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600px;
}

header {
    background-color: #F2F2F2;
}

.text-white {
    color: #FFFFFF;
    ;
}

.header-horizontal-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}

.logo-header {
    display: flex;
    text-align: center;
    margin-top: 22px;
    margin-left: 27px;
}

.logo-header img {
    width: 27px;
    height: 27px;
}

.logo-header span {
    font-size: 22px;
    line-height: 30px;
    margin-left: 27px;
}

/* --------------------------------- */
.header-menu {
    display: flex;
    margin-top: 27px;
}

.header-menu-item {
    margin-left: 34px;
}

.header-menu-list {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

/* ------------ */
.header-search {
    position: relative;
}

.header-search-input {
    background-color: #000000;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 68px;
}

.header-search-item {
    position: relative;
    top: 27px;
    right: 26px;

}

/* ----------------------------- */
/* header-background */
.header-background {
    background-image: url(./img/BackGround/header/header-bg.jpeg);
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 369px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.header-discriotion {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 164px;
}

.header-background-linkbox {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.header-background-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px;
    border-radius: 10px;
}

.header-background-customize-link1 {
    background-color: #89CA62;
}

.header-background-customize-link2 {
    background-color: #14B9D5;
    margin-left: 20px;
}

/* -------------------------------- */

.headings {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    margin: 50px auto;
}

.header-content-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px 15px;
}

.fb-popular-posts-content {
    display: flex;
    justify-content: center;
}

.most-popular-posts-content-cover {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding: 21px auto;
    margin-bottom: 30px;
    margin-right: 30px;
}

/* ------------------------------- */

.section-most-popular-clients {
    background-image: url(./img/BackGround/popular-clients/parallax-bg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 588px;
}

.popular-clients-title {
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    padding-top: 106px;
}

.restangle-box {
    display: flex;
    justify-content: center;
    padding-top: 87px;
}

.popular-clients-grid {
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-rows: auto;
    align-items: center;
    margin-left: 510px;
    margin-right: 509px;
    margin-top: 197px;
}
.popular-clients-grid-child1{
    grid-area: 1/1/1/2;
}
.popular-clients-grid-child2{
    grid-area: 1/2/1/3;
}
.popular-clients-grid-child3{
    grid-area: 1/3/1/4;
}
.popular-clients-grid-child4{
    grid-area: 1/4/1/5;
}
/* --------------------------- */
.top-rated-image-config {
    width: 100%;
}

.top-rated-grid-box {
    display: grid;
    grid-template-columns: repeat(1fr, 8);
    grid-template-rows: auto;
}

.top-rated-grid-child1 {
    grid-area: 1/1/1/2;
}

.top-rated-grid-child2 {
    grid-area: 1/2/1/3;
}

.top-rated-grid-child3 {
    grid-area: 1/3/1/4;
}

.top-rated-grid-child4 {
    grid-area: 1/4/1/5;
}

.top-rated-grid-child5 {
    grid-area: 1/5/1/6;
}

.top-rated-grid-child6 {
    grid-area: 1/6/1/7;
}

.top-rated-grid-child7 {
    grid-area: 1/7/1/8;
}

/* ---------------------------- */
.container {
    width: 1170px;
    margin: 0 auto;
}

.section-hot-news {
    display: grid;
    grid-gap: 42px;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 4);
}

.hot-news-content-box1 {
    grid-area: 1/1/2/4;
    display: flex;
}

.hot-news-content-box2 {
    grid-area: 1/4/2/5;

}

.hot-news-content-box3 {
    grid-area: 2/1/3/3;

}

.hot-news-content-box4 {
    grid-area: 2/3/2/5;
}

.hot-news-content-box5 {
    grid-area: 3/1/4/3;

}

.hot-news-content-box6 {
    grid-area: 3/3/4/5;

}

.hot-news-content-box7 {
    grid-area: 4/1/5/2;
}

.hot-news-content-box8 {
    grid-area: 4/2/5/5;
    display: flex;
}


.hot-news-content-box {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-content-box p {
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.hot-news-content-box h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.hot-news-content-box img {
    width: 100%;
}

.flex-hot-news-content2 {
    text-align: right;
    padding-right: 14px;

}

.flex-hot-news-1 {
    text-align: right;
}

.flex-hot-news-1 h3 {
    margin: 41px 24px 15px auto;
}

.flex-hot-news-1 p {
    margin: 0px 24px 40px 0px;
}

.hot-news-content-box2 h3 {
    text-align: center;
    margin: 15px 27px 11px 27px;
}

.hot-news-content-box7 h3 {
    text-align: center;
    margin: 15px 27px 11px 27px;
}

.hot-news-content-box8 .hot-news-content-box h3 {
    text-align: right;
    margin: 41px 24px 15px auto;
}

.hot-news-content-box8 .hot-news-content-box p {
    text-align: right;
    margin: 0px 24px 40px 0px;
}

/* -----------------------  */
footer {
    background: #000000;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 13px;
    line-height: 13px;
    color: white;
    margin: 30px 0;
    font-weight: bold;
}
footer a{
    display: flex;
}