@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400px;
}
.background-main {
  background-image: url("../img/background/background-main.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.head-menu {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}
.head-content-journey {
  margin: 18px 79px;
}

.head-content-journey a {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}

.head-content-svg-and-welcome {
  display: flex;
  align-items: center;
}

.head-welcome-box {
  height: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 79px;
  padding-left: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.head-svg {
  padding-right: 25px;
}

/* -------------------------- */
.section-sign-up-form {
  width: 444px;
  height: 584px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin-top: 54px;
  position: relative;
}
.sign-up-form-container {
  width: 325px;
  padding: 30px 60px 38px 60px;
}
.sign-up-and-log-in-box {
  display: flex;
  justify-content: space-between;
}
.sign-up-text {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.log-in-text {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
/* ------------- */

.green-box {
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  top: 30px;
}
/* --------------------------------- */
.Face-book-and-google-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.google-button,
.facebook-button {
  display: flex;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.facebook-button {
  background: #305db8;
}
.google-button {
  background: #df4a32;
}
.google-text-in-button,
.facebook-text-in-button {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.box-for-facebook-text,
.box-for-google-text {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 28px;
  padding-left: 30px;
  margin-top: 10px;
}
.box-for-facebook-text,
.box-for-google-text p {
  padding-top: 5px;
}
.google-svg-in-button {
  margin: 15px 7px 14px 12px;
}

.facebook-svg-in-button {
  margin: 12px 15px 12px 17px;
}

/* --------------------------  */

.choose-text-or-box {
  text-align: center;
  width: 324px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 12px;
}

.choose-text-or {
  position: relative;
  color: #848484;
}
.choose-text-or::before {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  right: 18px;
  top: 50%;
}
.choose-text-or::after {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  top: 50%;
  left: 18px;
}
/* --------------------------  */
.input-personal-io {
  width: 322px;
  height: 44.08px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #f2f2f2;
}
.input-personal-io::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  padding: 15px 20px;
}
/* ---------- */

.create-account-button {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: white;
  cursor: pointer;
}
/* -------------------------- */
.checkbox-text,
.checkbox-text-dedicated {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox-text-dedicated {
  color: rgb(60, 184, 120);
}
.check {
  /* padding-left: 28px; */
  position: relative;
  /* width: 325px; */
  height: 16px;
  display: flex;
  align-items: center;
}
.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.check-box {
  /* position: absolute;
  margin-left: -28px;
  width: 1em;
  height: 1em;
  background-image: url(../img/checkbox/checkbox_empty.svg); */
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  margin-right: 10px;
  
}


.check-input:checked + .check-box {
  background-image: url(../img/checkbox/Vector.svg);
  background-repeat:no-repeat;
  background-position: center ;
}

/* -----------Hover-part--------- */
.log-in-text:hover {
  text-decoration: underline;
}

.facebook-button:hover {
  background: #022263;
}

.google-button:hover {
  background: #ab1f09;
}

.input-personal-io:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.input-personal-io:focus::placeholder {
  color: #434343;
}
.create-account-button:hover {
  background: #01813f;
}
