@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.container {
  width: 1280px;
  height: 1282px;
  margin: 0 auto;
}

.logo-part1 {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.logo-part2 {
  font-size: 80px;
  line-height: 94px;
  color: #2d91c0;
}

.main-menu {
  background: #35444f;
  margin: 0 auto;
  text-align: center;
}

.main-menu-item {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 20px;
  border-left: 1px solid #ffffff;
}

.main-menu-node {
  border-right: 1px solid #ffffff;
}

.main-menu-item:hover {
  background: #222f3a;
}

.main-menu-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 40px 19px 40px;
}

/* ------------------------- */

.section-main {
  display: flex;
}

.left-menu {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
  margin-top: 48px;
}

.left-menu-item {
  font-size: 27px;
  line-height: 27px;
  padding: 26px 0px 25px 44px;
}

.left-menu-link {
  color: #495863;
}

.left-menu-item:hover {
  background: #dbdbdb;
  color: #35444f;
  
}
.left-menu-link:hover {
  padding-left: 30px;
}
/* --------------------- */

.box-photo-logo {
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  margin-left: 50px;
  margin-top: 48px;
}

.photo-logo {
  margin: 75px 268px 73px 297px;
}

.photo-decription {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #2C2C2C;
}

.footer-description-margin {
  margin-top: 37px;
  margin-bottom: 34px;
}


/* ----------------------- */

.footer-menu {
  background: rgba(99, 105, 110, 0.48);
  margin-top: 354px;
}

.footer-menu-item {

  display: inline-block;
  padding: 20px 0px 20px 40px;
}

.footer-menu-link {
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer-menu-coppyright {
  margin-left: 80px ;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer-menu-link:hover {
  color: #3181A6;
  text-decoration: underline solid #3181A6;
}
.fb-footer{
  display: flex;
}